.Container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    flex-direction: column;
    gap:20px;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

button{
    width:90px;
    height:40px;
    color:black
}